/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px  20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 26px;
    font-weight: bold;
}

header .logo img {
    height: 40px;
    vertical-align: super;
    max-height: 100%; /* Ensure the logo is displayed correctly */
    margin: auto;

}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #4CAF50;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #45a049;
    color: white;
}

/* Main content styles */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Form styles */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 20px 35px;
    margin: 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #555;
}

/* Table styles */
table {
    width: 80%;
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
    text-align: center; /* Center the text in the table */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.available {
    color: green;
}

.checked-out {
    color: red;
}

.not_borrowed {
    color: green;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}